---
import { Image } from "astro:assets";
import "../styles/global.css";

import Separador from "../assets/images/separador.webp";
---

<div class="relative z-30 h-[120px] overflow-visible">
  <Image
    src={Separador}
    alt="Separador palo"
    class="absolute left-0 w-full max-w-none pointer-events-none"
  />
</div>
