---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import "../styles/global.css";

import Gorilla from "../assets/images/gorilla.webp";
import Panda from "../assets/images/panda.webp";
import LogoStudio from "../assets/images/logo-nakama.webp";
import LogoGame from "../assets/images/logo-how.webp";
---

<section
  class="sticky top-0 h-screen z-10 bg-[url('/background.jpg')] bg-cover bg-center bg-fixed flex items-center justify-center px-6 text-white overflow-hidden"
>
  <!-- HEADER -->
  <div class="absolute top-4 left-4 z-10">
    <Image src={LogoStudio} alt="Nakama Game Studio" class="w-24 md:w-32" />
  </div>
  <div class="absolute top-4 right-4 flex gap-4 z-20">
    <a
      href="https://www.instagram.com/nakamagamestudio/"
      class="w-6 md:w-8 hover:scale-110 transition-transform duration-200"
    >
      <Icon name="instagram" class="w-full h-full text-white" />
    </a>
    <a
      href="https://www.tiktok.com/@nakama_gamestudio"
      class="w-6 md:w-8 hover:scale-110 transition-transform duration-200"
    >
      <Icon name="tiktok" class="w-full h-full text-white" />
    </a>
    <a
      href="https://www.youtube.com/@Nakamagamestudio"
      class="w-6 md:w-8 hover:scale-110 transition-transform duration-200"
    >
      <Icon name="youtube" class="w-full h-full text-white" />
    </a>
  </div>

  <!-- LOGO -->
  <div class="absolute top-8 left-1/2 transform -translate-x-1/2 z-10">
    <Image src={LogoGame} alt="House of Wardians" class="w-60 md:w-80" />
  </div>

  <!-- TÍTULO -->
  <div class="relative z-10 text-center">
    <h2
      class="font-lilita font-extrabold text-white text-3xl md:text-5xl drop-shadow-[3px_3px_0_rgba(0,0,0,1)] -rotate-2"
    >
      ¡LLEGAN LOS
    </h2>
    <h1
      class="font-lilita font-extrabold text-white text-[64px] md:text-[120px] lg:text-[200px] leading-none tracking-tight drop-shadow-[8px_8px_0_rgba(0,0,0,1)] -rotate-2"
    >
      WARDIANS!
    </h1>
    <a
      href="https://houseofwardians.com"
      class="font-lilita blank mt-10 inline-block px-8 py-5 bg-yellow-400 border-[3px] border-black rounded-lg shadow-[0_4px_0_0_rgba(0,0,0,1)] text-black font-extrabold text-lg tracking-wide hover:bg-yellow-300 transition-transform active:translate-y-1"
    >
      ¡JUEGA AHORA!
    </a>
  </div>

  <!-- PERSONAJES HERO -->
  <div
    class="absolute bottom-0 left-0 w-44 md:w-96 lg:w-[32rem] z-10 transform -scale-x-100"
  >
    <div class="relative">
      <Image src={Panda} alt="Panda" />
      <div
        class="absolute bottom-20 left-1/2 transform -translate-x-1/2 w-[80%] h-3 md:h-4 lg:h-5 bg-black/40 rounded-full blur-md z-0"
      >
      </div>
    </div>
  </div>

  <div class="absolute bottom-0 right-0 w-44 md:w-96 lg:w-[32rem] z-10">
    <div class="relative">
      <Image src={Gorilla} alt="Gorilla" />
      <div
        class="absolute bottom-8 left-1/2 transform -translate-x-1/2 w-[80%] h-3 md:h-4 lg:h-5 bg-black/40 rounded-full blur-md z-0"
      >
      </div>
    </div>
  </div>
</section>
