---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import Pattern from "./Pattern.astro";

import Gameplay1 from "../assets/images/gameplay1.webp";
import Gameplay2 from "../assets/images/gameplay2.webp";
import Gameplay3 from "../assets/images/gameplay3.webp";
import Gameplay4 from "../assets/images/gameplay4.webp";
import Gameplay5 from "../assets/images/gameplay5.webp";
import Gameplay6 from "../assets/images/gameplay6.webp";
import Gameplay7 from "../assets/images/gameplay7.webp";
import Gameplay8 from "../assets/images/gameplay8.webp";
import Gameplay9 from "../assets/images/gameplay9.webp";
import Gameplay10 from "../assets/images/gameplay10.webp";
import Gameplay11 from "../assets/images/gameplay11.webp";

import Tengu from "../assets/images/tengu.webp";
import Jinn from "../assets/images/jinn.webp";

const gameplays = [
  { src: Gameplay1, alt: "Imagen de gameplay del juego: pantalla de reclutar un Wardian" },
  { src: Gameplay2, alt: "Imagen de gameplay del juego: pantalla de victoria de tu Wardian tras la batalla" },
  { src: Gameplay3, alt: "Imagen de gameplay del juego: pantalla de arma uncommon tras abrir un cofre" },
  { src: Gameplay4, alt: "Imagen de gameplay del juego: pantalla de ranking de liga" },
  { src: Gameplay5, alt: "Imagen de gameplay del juego: pantalla de batalla entre 2 Wardians escenario 1" },
  { src: Gameplay6, alt: "Imagen de gameplay del juego: pantalla de victoria de tu Wardian en batalla escenario 1" },
  { src: Gameplay7, alt: "Imagen de gameplay del juego: pantalla de selección de equipo en tu casa de armas" },
  { src: Gameplay8, alt: "Imagen de gameplay del juego: pantalla de versus al entrar en una batalla" },
  { src: Gameplay9, alt: "Imagen de gameplay del juego: pantalla de batalla entre espíritu y Wardian escenario 2" },
  { src: Gameplay10, alt: "Imagen de gameplay del juego: pantalla de batalla entre Wardians escenario 2" },
  { src: Gameplay11, alt: "Imagen de gameplay del juego: pantalla de batalla entre Wardian y espíritu escenario 1" }
];
---

<section
  class="relative top-0 h-screen z-40 bg-[url('/purple-background.webp')] bg-cover bg-center bg-fixed flex flex-col items-center justify-start px-6 text-white overflow-hidden pt-44 pb-20"
>
  <Pattern />

  <!-- TÍTULO -->
  <div class="text-center mb-12 z-30 w-full">
    <h2
      class="font-lilita text-white text-4xl sm:text-5xl md:text-6xl lg:text-[100px] font-extrabold drop-shadow-[5px_5px_0_rgba(0,0,0,1)] -rotate-2"
    >
      ¿Estás preparado?
    </h2>
  </div>

  <!-- CARRUSEL -->
  <div class="w-full flex flex-col items-center z-20">
    <div
      id="carousel"
      class="relative overflow-hidden rounded-xl shadow-2xl w-[90vw] sm:w-[80vw] md:w-[60vw] lg:w-[50vw] aspect-video"
    >
      {
        gameplays.map((img, index) => (
          <div
            class={`fade-image absolute inset-0 transition-opacity duration-1000 ${
              index === 0 ? "opacity-100" : "opacity-0"
            }`}
          >
            <Image
              src={img.src}
              alt={img.alt}
              class="w-full h-full object-cover rounded-xl"
            />
          </div>
        ))
      }
    </div>

    <!-- BOTONES FLECHAS  -->
    <div class="flex justify-center gap-4 mt-6">
      <Icon
        id="prev"
        name="arrow-left"
        class="w-12 h-full text-yellow-400 drop-shadow-[3px_3px_0_rgba(0,0,0,1)]"
      />
      <Icon
        id="next"
        name="arrow-right"
        class="w-12 h-full text-yellow-400 drop-shadow-[3px_3px_0_rgba(0,0,0,1)]"
      />
    </div>
  </div>

  <!-- PERSONAJES -->
  <div
    class="absolute bottom-10 left-0 w-48 md:w-64 lg:w-[32rem] z-10 transform -scale-x-100"
  >
    <div class="relative">
      <Image src={Tengu} alt="Personaje del juego House of Wardians: Tengu" />
      <div
        class="absolute bottom-[1%] left-1/2 transform -translate-x-1/2 w-[60%] h-2 md:h-3 lg:h-4 bg-black/40 rounded-full blur-md z-0"
      >
      </div>
    </div>
  </div>

  <div class="absolute bottom-10 right-10 w-44 md:w-56 lg:w-[26rem] z-10">
    <div class="relative">
      <Image src={Jinn} alt="Personaje del juego House of Wardians: Jinn" />
      <div
        class="absolute left-1/2 transform -translate-x-1/2 w-[65%] h-2 md:h-3 lg:h-4 bg-black/40 rounded-full blur-md z-0"
      >
      </div>
    </div>
  </div>
</section>

<script is:inline>
  const images = document.querySelectorAll(".fade-image");
  const prev = document.getElementById("prev");
  const next = document.getElementById("next");
  let current = 0;
  let interval;

  function showImage(index) {
    images.forEach((img, i) => {
      img.classList.toggle("opacity-100", i === index);
      img.classList.toggle("opacity-0", i !== index);
    });
  }

  function nextImage() {
    current = (current + 1) % images.length;
    showImage(current);
  }

  function prevImage() {
    current = (current - 1 + images.length) % images.length;
    showImage(current);
  }

  function startAuto() {
    interval = setInterval(nextImage, 5000);
  }

  function stopAuto() {
    clearInterval(interval);
  }

  next.addEventListener("click", () => {
    stopAuto();
    nextImage();
    startAuto();
  });

  prev.addEventListener("click", () => {
    stopAuto();
    prevImage();
    startAuto();
  });

  showImage(current);
  startAuto();
</script>
