<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
      rel="stylesheet"
    />
    <meta
      name="description"
      content="House of Wardians es un juego de estrategia y combate automático para móviles. Evoluciona a tus luchadores, personalízalos y compite online."
    />
    <title>House of Wardians – Recluta, lucha, domina.</title>
  </head>
  <body>
    <nav class="flex justify-end gap-4 text-sm">
      <a href="/es/" class="underline">ES</a>
      <a href="/en/" class="underline">EN</a>
    </nav>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
