---
const { lang = "en", title, description } = Astro.props;
const baseUrl = "https://houseofwardians.com";
---

<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap"
      rel="stylesheet"
    />

    <title>{title ?? "House of Wardians – Recluta, lucha, domina."}</title>
    <meta
      name="description"
      content={description ??
        "House of Wardians es un juego de estrategia y combate automático para móviles. Evoluciona a tus luchadores, personalízalos y compite online."}
    />

    <!-- SEO multilenguaje -->
    <link rel="alternate" href={`${baseUrl}/es/`} hreflang="es" />
    <link rel="alternate" href={`${baseUrl}/en/`} hreflang="en" />
    <link rel="alternate" href={baseUrl} hreflang="x-default" />
  </head>

  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
